
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="css">

  <link rel="stylesheet" href="/assets/css/cssImageFile.css">
  <link rel="stylesheet" href="/assets/css/sweetalert2.min.css">
  <link rel="stylesheet" href="/assets/css/preview-image.css">
  <link rel="stylesheet" href="/assets/fontawesome-free-6.2.0-web/css/all.css">
  <link rel="stylesheet" href="/assets/iziToast/dist/css/iziToast.css">


  <link rel="shortcut icon" href="/assets/images/favicon.ico">
  <!-- third party css -->
  <link href="/assets/libs/datatables/dataTables.bootstrap4.css" rel="stylesheet" type="text/css">
  <link href="/assets/libs/datatables/buttons.bootstrap4.css" rel="stylesheet" type="text/css">
  <link href="/assets/libs/datatables/responsive.bootstrap4.css" rel="stylesheet" type="text/css">
  <link href="/assets/libs/datatables/select.bootstrap4.css" rel="stylesheet" type="text/css">
  <!-- App css -->
  <link href="/assets/css/bootstrap.min.css" rel="stylesheet" type="text/css" id="bootstrap-stylesheet">
  <link href="/assets/css/icons.min.css" rel="stylesheet" type="text/css">
  <link href="/assets/css/app.min.css" rel="stylesheet" type="text/css" id="app-stylesheet">
  <link rel="stylesheet" href="/assets/css/preview-image.css">

<!--  <link rel="stylesheet" href="/assets/font-awesome-4.7.0/css/font-awesome.min.css">-->
  <link rel="stylesheet" href="/assets/css/style.css">

</th:block>
